<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% if title %}
                {{- title }} - 
            {% endif %}
            {{- site.name }}
        </title>
    </head>
    <body>
        {% render "partials/header", site: site, navigation: navigation %}
        {{ content }}
    </body>
</html>