---
layout: layouts/base
nextPage: "Next Page"
prevPage: "Prev Page"
---

<section class="guides">
  <h1>{{ title }}</h1>
  {% if pagination.items.size > 0 %}
    {% render 'partials/pagination'
      , itemType: "guide-listing"
      , pagination: pagination
      , nextPage: nextPage
      , prevPage: prevPage %}
  {% else %}
    Coming Soon!
  {% endif %}
</section>