html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: sans-serif, -apple-system, BlinkMacSystemFont, system-ui, Arial;
    font-size: 16px;
    color: var(--color-text-body);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    background: var(--color-bg-body);
    margin: 0;
    padding: 0;
}

.top {
    height: auto;
    position: sticky;
    top: 0;
    z-index: 100;
}

.wrapper {
    max-width: 1280px;
    min-width: 320px;

    margin: 40px auto;
    padding: 30px 40px;

    background-color: var(--color-bg-wrapper);
    /* box-shadow: 0 4px 12px var(--color-shadow-wrapper); */
    /* border-radius: 8px; */
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-text-heading);
    margin-top: 1.5em;
    margin-bottom: 0.75em; 
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    line-height: 1.3em;
}
h1 { font-size: 2.2em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.5em; }

p {
    margin-bottom: 1.25em;
}

a {
    color: var(--color-link);
    text-decoration: none;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; /* Smooth transition */
}

a:hover,
a:focus {
    color: var(--color-link-hover);
    text-decoration: underline;
}


footer {
    text-align: center;
    padding: 30px 20px;
    border-top: 1px solid var(--color-border-subtle);
    margin-top: 40px;
    color: var(--color-text-muted);
    font-size: 0.9em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}