.posts {
  display: block;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  h1 {
    margin-top: 0;
  }
}

.post-listing {
  display: block;
  align-content: center;
  margin: auto 5%;
  a {
  color: var(--color-link);
  text-decoration: none;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; /* Smooth transition */
  }

  a:hover,
  a:focus {
      color: var(--color-link-hover);
      text-decoration: none;
  }
}