
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 20px;
    background-color: var(--color-bg-toggle);
    border-radius: 10px;
    cursor: pointer;
}
.light-mode-button {
    background:0;
    border: 0;
    height: 20px;
    width: 20px;
    position: relative;
    cursor: pointer;
    padding: 0;
}

.light-mode-button .light-mode-icon,
.light-mode-button .dark-mode-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    transition: opacity 0.3s ease-in-out;
}

[data-theme='light'] .dark-mode-icon {
    opacity: 0;
}

[data-theme='dark'] .light-mode-icon {
    opacity: 0;
}