---
layout: layouts/base
title: "Page Not Found"
permalink: 404.html
---

<article class="error-page">
    <h1 class="error-code">404</h1>
    <p class="error-message">Oops! Page Not Found</p>
    <p class="error-description">
        Sorry, the page you are looking for doesn't exist or has been moved
    </p>
    <a href="{{ '/' | url }}" class="error-home-link">Go to Homepage</a>
</article>