<div class="theme-switch-wrapper">
	<script>
		initialize_theme();
	</script>
	<button class="light-mode-button" aria-label="Toggle Theme" onclick="toggle_light_mode()">
	    <span></span>
	    <span></span>
	</button> 
</div>
