<div class="theme-switch-wrapper">
	<button class="light-mode-button" aria-label="Toggle Theme" onclick="toggle_light_mode()">
		<img class="light-mode-icon" src="/assets/icons/light-mode-sun.svg" alt="Switch to dark mode">
		<img class="dark-mode-icon" src="/assets/icons/dark-mode-moon.svg" alt="Switch to light mode">
	</button>
	<script>
		initialize_theme();
	</script> 
</div>
